footer {
    text-align: center;
    background-color: #FDB927;
  }
  
  .footerWrapper {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerTitle {
    text-shadow: 0px 0px 5px #552583;
    color: white;
  }

  .footerName {
    text-shadow: 0 0 5px #552583;;
    color: white;
  }
  
  .footerLinks {
    margin-top: 20px;
    padding-bottom: 40px;
  }

  .linkContainerOne {
    color: white;
    text-shadow: 0 0 4px #552583;
  }

  .linkContainerOne.active,
  .linkContainerOne:hover {
    background: #552583;
    transition: 0.25s;
    padding: 5px;
    color: white;
    border-radius: 0.25rem;
  }

  .linkContainerTwo {
    color: white;
    text-shadow: 0 0 4px #552583;;
  }

  .linkContainerTwo.active,
  .linkContainerTwo:hover {
    background: #552583;
    transition: 0.25s;
    padding: 5px;
    color: white;
    border-radius: 0.25rem;
  }