.footer-wrapper {
    display: flex;
    height: 20vh;
    background-color: blueviolet;
}

.footer-wrapper >* {
    flex: 1;
}

.footer-content {
    display: flex;
    gap: 1rem;
}

.footer-content li {
    list-style: none;
}