.nav-wrapper {
    display: flex;
    height: 20vh;
    background-color: blueviolet;
}

.nav-wrapper >* {
    flex: 1;
}

.nav-content {
    display: flex;
    gap: 1rem;
}

.nav-content li {
    list-style: none;
}